@import url("../../styles/vars.css");
@import url("../../styles/button.css");

.timer {
  flex: 1;
  background: var(--timer-background);
  text-align: center;
}

.timerTime {
  font-size: 10rem;
  color: var(--timer-color);
  cursor: pointer;
}

.timerControlButtons {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

.modalHeading {
  margin: 0 0 15px;
}

.modalLabel {
  display: block;
  margin: 10px 0;
}

.modalInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalInput {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modalButtons {
  display: flex;
  justify-content: center;
  gap: 5px;
}

@media screen and (max-width: 950px) {
  .timer {
    flex: 0;
    display: flex;
    justify-content: center;
    background: var(--timer-background);
    text-align: center;
  }

  .timerTime {
    font-size: 5rem;
  }

  .timerControlButtons {
    flex-direction: column;
  }

  .timerButton {
    padding: 5px;
  }
}

@media screen and (max-width: 555px) {
  .timer {
    flex-direction: column;
  }

  .timerTime {
    font-size: 8rem;
  }

  .timerControlButtons {
    justify-content: center;
    align-items: center;
  }

  .timerButton {
    width: 100%;
    max-width: 100px;
  }
}
