@import url("../../styles/vars.css");
@import url("../../styles/button.css");

.timer {
  background: var(--background-color);
  padding: 20px;
  text-align: center;
}

.timerTime {
  padding: 10px;
  font-size: 15rem;
  color: #ff0000;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

h2 {
  margin: 0 0 15px;
}

label {
  display: block;
  margin: 10px 0;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
