@import "./vars.css";

html,
body,
ul,
li,
a,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1vw;
}

body {
  height: 100vh;
  background: var(--main-background-color);
  font-family: var(--main-font-family);
}
