@import "./vars.css";

@font-face {
  font-display: swap;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/oswald-vf.ttf") format("truetype");
}

/* oswald-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/oswald-regular.ttf") format("truetype");
}

/* oswald-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/oswald-600.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
ul,
li,
a,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font-family);
  background: var(--main-background-color);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
