@import "./vars.css";

/* oswald-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/oswald-v53-latin-regular.woff2") format("woff2");
}

/* oswald-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/oswald-v53-latin-600.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
ul,
li,
a,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: var(--main-font-family);
  background: var(--main-background-color);
}
