:root {
  --main-background-color: #303030;
  --main-font-family: Oswald;
  --main-font-color: #fff;
  --timer-color: #ed1111;
  --timer-background: #303030;
  --modal-background: rgba(255, 255, 255, 1);
  --button-background: #4caf50;
  --button-background-hover: #45a049;
  --input-border: #ccc;
  --input-backgorund: #ffffff;
  --input-backgorund-active: #dfdddd;
  --background-player-one: #ed1111;
  --background-player-two: #204da0;
  --background-edit-btn: #f0c040;
  --background-edit-btn-hover: #e0b030;
}

/*  background-color: #4caf50;
background-color: #45a049; */
