@import "../../styles/vars.css";
.about {
  color: var(--label-font-color);
}

.aboutLogo {
  max-width: 100px;
}

.aboutContent {
  text-align: start;
}

.aboutContactsLinksItemContainer {
  display: flex;
  gap: 5px;
  font-size: 0.9em;
}

.itemContainerLabel {
  font-weight: bold;
}

.itemContainerLink {
  color: inherit;
  text-decoration: none;
}
