@import url("../../styles/vars.css");

.header {
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
}

.headerHeading {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.headerLogo {
  max-width: 100px;
}

.mainHeading {
  font-size: 2rem;
  color: var(--main-font-color);
}

@media screen and (max-width: 871px) {
  .mainHeading {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 499px) {
  .mainHeading {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 417px) {
  .header {
    margin-bottom: 10px;
    padding: 5px;
  }

  .mainHeading {
    font-size: 1rem;
  }
}

@media screen and (max-height: 871px) {
  .headerLogo {
    max-width: 50px;
  }

  .mainHeading {
    font-size: 1.2rem;
  }
}
