@import url("../../styles/vars.css");
@import url("../../styles/button.css");

.scoreboard {
  display: flex;
  flex: 1 1;
  gap: 5px;
}

.scoreboard > :nth-child(1) {
  background-color: var(--background-player-one);
}

.scoreboard > :nth-child(3) {
  background-color: var(--background-player-two);
  color: #fff;
}

.scoreboardButtons {
  display: flex;
  flex-direction: column;
}

.scoreboardButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 80px;
}
