@import url("../../styles/vars.css");

.footer {
  margin-bottom: 5px;
  padding: 10px;
  color: var(--main-font-color);
}

.footerContent {
  display: flex;
  justify-content: space-between;
}

.footerAboutButton {
  background-color: transparent;
  color: inherit;
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

.footerLicense {
  max-width: 500px;
  color: inherit;
}

.footerLicenseText {
  text-align: center;
}

.footerLicenseTextLink {
  color: inherit;
}

.footerAboutApp {
  display: flex;
  gap: 5px;
}

@media screen and (max-width: 900px) {
  .footerContent {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
}
