@import url("../../styles/vars.css");

.footer {
  padding: 10px;
  color: var(--main-font-color);
}

.footerContent {
  display: flex;
  justify-content: space-between;
}

.footerAuthorLink {
  color: inherit;
}

.footerAuthorIcon {
  max-width: 100px;
}

.footerAboutApp {
  display: flex;
  gap: 5px;
}
@media screen and (max-width: 390px) {
  .footerContent {
    flex-direction: column;
    align-items: center;
  }
}
