@import "../../styles/vars.css";

.player {
  display: flex;
  flex-direction: column;
}

.playerName {
  margin: 0;
  padding: 5px;
  max-width: 200px;
  font-size: 1.5rem;
  background-color: transparent;
  outline: none;
  border: none;

  &:focus {
    background-color: var(--input-backgorund);
  }
}
