@import "../../styles/vars.css";
@import "../../styles/button.css";

.player {
  display: flex;
  flex-direction: column;
}

.playerContainer {
  display: flex;
  gap: 5px;
}

.playerName {
  max-width: 200px;
  font-size: 1.5rem;
}

.playerEditButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: var(--background-edit-btn);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--background-edit-btn-hover);
  }
}

.playerEditModal {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #000000ab;
}

.playerEditModalContent {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  background-color: #ffffff;
}

.playerEditModalInputs {
  display: flex;
  flex-direction: column;
}

.playerEditModalLabel {
  color: black;
}

.playerEditModalInput {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.playerEditModalButtons {
  display: flex;
  gap: 5px;
}

@media screen and (max-width: 950px) {
  .player {
    margin-bottom: 5px;
  }

  .playerName {
    font-size: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .playerEditButton {
    width: 15px;
    height: 15px;
    font-size: 0.5em;
  }
}
