.scoresTable {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.scoresTableHeader {
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
}

.scoresTableCell {
  font-size: 2.5rem;
  padding: 10px;
}
